<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="iBatis" connectionString="Data Source=localhost; Database=AdventureWorks; Integrated Security=true;" />
  </database>
  <sqlMaps>
    <sqlMap resource="Mappings/Employee.xml" />
  </sqlMaps>
</sqlMapConfig>