<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
	</configSections>
	<connectionStrings>
		<add name="AdventureWorks" connectionString="Data Source=localhost; Database=AdventureWorks; Integrated Security=true;"/>
	</connectionStrings>
	<SubSonicService defaultProvider="AdventureWorks">
		<providers>
			<clear/>
			<add name="AdventureWorks" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="AdventureWorks" generatedNamespace="AdventureWorks"/>
		</providers>
	</SubSonicService>
</configuration>